<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>Add a book</title>
	</head>
	
	<body>
		<div class="form-group">
			<label for="bookId">Id:</label> <input type="text"
				class="form-control input" id="id" name="id" ng-model="book.id"
				ng-required="true">
		</div>
		
		<div class="form-group">
			<label for="bookName">Name:</label> <input type="text"
				class="form-control" id="name" name="name" ng-model="book.name"
				ng-required="true">
		</div>
		
		<div class="form-group">
			<label for="bookPrice">Price:</label> <input type="text"
				class="form-control" id="id" name="id" ng-model="book.id"
				ng-required="true">
		</div>
		<div class="form-group">
			<label for="bookPages">Number of pages:</label> <input type="text"
				class="form-control" id="page" name="page" ng-model="book.page"
				ng-required="true">
		</div>
		<button type="button" class="btn btn-primary pull-left" href="#/add-book/">Save</button>
	</body>
</html>