<!DOCTYPE html>
<html lang="pt" ng-app="bookApp">
	<head>
	  	<title>Crud-example</title>
	  	<meta charset="utf-8">
<!-- 	  	<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- 	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	 	 <link rel="stylesheet" href="styles/style.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	   	<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	  	<script src="http://code.angularjs.org/1.2.13/angular-route.js"></script>
	  	
		<script src="js/app.js"></script>
<!-- 	   	<script src="js/controller/appointmentCtrl.js"></script> -->
<!-- 	   	<script src="js/controller/cancelAppCtrl.js"></script> -->
<!-- 	   	<script src="js/controller/calendarCtrl.js"></script> -->
<!-- 	    <script src="js/controller/pacientDataCtrl.js"></script> -->
<!--  	   <script src="js/controller/appCtrl.js"></script> -->
<!-- 	    <script src="js/service/appointment_service.js"></script> -->
	</head>  

	<body >
		<div ng-view></div>
<!-- 		<div class="form-group"> -->
<!-- 			<label for="bookId">Id:</label> <input type="text" -->
<!-- 				class="form-control" id="id" name="id" ng-model="book.id" -->
<!-- 				ng-required="true"> -->
<!-- 		</div> -->
		
<!-- 		<div class="form-group"> -->
<!-- 			<label for="bookName">Name:</label> <input type="text" -->
<!-- 				class="form-control" id="name" name="name" ng-model="book.name" -->
<!-- 				ng-required="true"> -->
<!-- 		</div> -->
		
<!-- 		<div class="form-group"> -->
<!-- 			<label for="bookPrice">Price:</label> <input type="text" -->
<!-- 				class="form-control" id="id" name="id" ng-model="book.id" -->
<!-- 				ng-required="true"> -->
<!-- 		</div> -->
<!-- 		<div class="form-group"> -->
<!-- 			<label for="bookPages">Number of pages:</label> <input type="text" -->
<!-- 				class="form-control" id="page" name="page" ng-model="book.page" -->
<!-- 				ng-required="true"> -->
<!-- 		</div> -->
<!-- 		<button type="button" class="btn btn-primary pull-left" href="#/calendario/{{crmDoctor}}/{{idApp}}">Save</button> -->
	</body>
</html>